:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
    overflow: auto;
}

.grid-item {
    background-color: var(--swatch-primary);
}

#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary);
    border-bottom: dotted;
    height: 83%;
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 14pt;
}

#left-sidebar-header {
    border-bottom: dotted;
    background-color: var(--swatch-complement);
}

#todo-list-table-header {
    border-bottom: dotted;
}
#confirm-delete:hover {
    transform:scale(1.1, 1.1);
    cursor:pointer;
    background-color: rgba(255,255,255,.5);
}
#todo-lists-list {
    background-color: var(--swatch-complement);
}
.task-col {
    color: white;
}
input.task-col {
    background-color: rgb(87, 93, 105);
}
input.due-date-col {
    background-color: rgb(87, 93, 105);
}
.due-date-col {
    color: white;
}
select.status-dropdown {
    background-color: rgb(87, 93, 105);
    color:white;
}
.status-dropdown {
    display: flex;
    font-family: var(--font-primary);
}
.status-dropdown .select-options {
    background:var(--swatch-complement);
    color: var(--swatch-complement);
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-card {
    border-bottom: solid;
}

.todo_button {
    cursor:pointer;
    /* background-color: var(--swatch-complement); */
}
.list-item-control {
    text-align: center;
}
#todo-list-header-card {
    background-color: var(--swatch-complement);
}
.todo_button:hover {
    cursor:pointer;
    background-color: var(--swatch-contrast);
    transition: all 0.4s;
}
.todo_button_edit_current {
    cursor:pointer;
    /* background-color: var(--swatch-complement); */
}

.todo_button_edit_current:hover {
    background-color: var(--swatch-contrast);
    transition: all 0.4s;
}
.delete-confirmation-close-button:hover {
    transform:scale(1.3,1.3);
    cursor:pointer;
    transition: all 0.4s;
}
.incomplete-status {
    color: rgb(245, 188, 117)
}
.complete-status {
    color: rgb(142, 212, 248)
}
.highlight {
    background-color: rgb(69, 75, 83);
}
.list-item-card:hover {
    background-color: rgb(77, 80, 89);
}
/* .list-item-control {
    background-color: rgb(53, 58, 68);
} */

